{% load static %}
    <!--footer-->
	<footer class="footer">
		<div class="wrap">
			<div class="row">
				<!--column-->
				<article class="one-fourth">
					<h6>Забронируй своё путишевствие</h6>
					<p>{{ setting.address }}</p>
					<p><em>P:</em> 24/7 Поддержка : {{ setting.phone }} </p>
					<p><em>E:</em> <a href="#" title="booking@mail.com">{{ setting.email }}</a></p>
				</article>
				<!--//column-->
				<!--column-->
				<article class="one-fourth">
					<h6>Не потеряй эксклюзивную возможность</h6>
					<form id="newsletter" action="newsletter.php" method="post">
						<fieldset>
							<input type="email" id="newsletter_signup" name="newsletter_signup" placeholder="Enter your email here" />
							<input type="submit" id="newsletter_submit" name="newsletter_submit" value="Signup" class="gradient-button" />
						</fieldset>
					</form>
				</article>
				<!--//column-->
				
				<div class="bottom full-width">
					<p class="copy">Copyright 2016 Book your travel ltd. All rights reserved</p>
					<nav>
						<ul>
							<li><a href="#" title="About us">About us</a></li>
							<li><a href="contact.html" title="Contact">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>
	<!---footer-->
	