{% load static %}
    <!--header-->
	<header class="header">
		<div class="wrap">
			<!--logo-->
			<div class="logo"><a href="{% url 'index' %}" title="Book Your Travel"><img src="{% static 'images/txt/logo.png' %}" alt="Book Your Travel" /></a></div>
			<!--//logo-->
		
			
			<!--ribbon-->
			<div class="ribbon">
				<nav>	
					<ul class="profile-nav">
						{% if user.is_authenticated %}
						<li class="active"><a href="{% url 'profile' user.id %}" title="My Account">{{ user.username }}</a></li>
						{% else %}
						
						{% endif %}
						
					</ul>
					{% if user.is_authenticated %}
					<ul class="currency-nav">
						<li class="active"><a href="{% url 'logout' %}" title="$US Dollar">LogOut</a></li>
					</ul>
					<ul>
					<li class="active"><a href="{% url 'profile' user.id %}" title="My Account">Профиль</a></li>
					</ul>
					{% else %}
					<ul class="lang-nav">
						<li class="active"><a href="{% url 'login' %}" title="English (US)">Login</a></li>
					</ul>
					<ul class="currency-nav">
						<li class="active"><a href="{% url 'register' %}" title="$US Dollar">Register</a></li>
					</ul>
					{% endif %}
				</nav>
			</div>
			<!--//ribbon-->
			
			<!--search-->
			<div class="search">
				<form id="search-form" method="get" action="{% url 'search' %}">
					{% csrf_token %}
					<input type="search" placeholder="Search entire site here" name="site_search" id="site_search" /> 
					<button type="submit" id="submit-site-search" value="submit-site-search" name="submit-site-search"></button>
				</form>
			</div>
			<!--//search-->
			
			<!--contact-->
			<div class="contact">
				<span>24/7 Support number</span>
				<h6 class="number">Телефон:<a href="tel:+996 220 066578"> +996 220 066578</a></h6>
			</div>
			<!--//contact-->
		</div>
		
		<!--main navigation-->
		<nav class="main-nav">
			<div class="wrap">
				<ul class="slimmenu" id="nav">
					<li><a href="{% url 'all_hotels' %}" title="Hotels">Отели</a>
					</li>
					<li><a href="{% url 'reis' %}" title="Flights">Рейсы</a></li>
					<li><a href="{% url 'cruise' %}" title="Cruises">Круизы</a></li>
					<li><a href="{% url 'car' %}" title="Car rental">Прокат машин</a></li>
					<li><a href="{% url 'contact' %}" title="Contact">Связаться</a></li>
						<ul>
						</ul>
					</li>
					
				</ul>
			</div>
		</nav>
		<!--//main navigation-->
	</header>
	<!--//header-->