{% load static %}
    <!--header-->
	<header class="header">
		<div class="wrap">
			<!--logo-->
			<div class="logo"><a href="index.html" title="Book Your Travel"><img src="{% static 'images/txt/logo.png' %}" alt="Book Your Travel" /></a></div>
			<!--//logo-->
		
			
			<!--ribbon-->
			<div class="ribbon">
				<nav>	
					<ul class="profile-nav">
						<li class="active"><a href="#" title="My Account">My Account</a></li>
						<li><a href="login.html" title="Login">Login</a></li>
						<li><a href="my_account.html" title="Settings">Settings</a></li>
					</ul>
					<ul class="lang-nav">
						<li class="active"><a href="#" title="English (US)">Login</a></li>
					
					</ul>
					<ul class="currency-nav">
						<li class="active"><a href="#" title="$US Dollar">Register</a></li>
					</ul>
				</nav>
			</div>
			<!--//ribbon-->
			
			<!--search-->
			<div class="search">
				<form id="search-form" method="get" action="search-form">
					<input type="search" placeholder="Search entire site here" name="site_search" id="site_search" /> 
					<input type="submit" id="submit-site-search" value="submit-site-search" name="submit-site-search"/>
				</form>
			</div>
			<!--//search-->
			
			<!--contact-->
			<div class="contact">
				<span>24/7 Support number</span>
				<span class="number">{{ setting.phone }}</span>
			</div>
			<!--//contact-->
		</div>
		
		<!--main navigation-->
		<nav class="main-nav">
			<div class="wrap">
				<ul class="slimmenu" id="nav">
					<li><a href="hotels.html" title="Hotels">Отели</a>
					</li>
					<li><a href="flights.html" title="Flights">Рейсы</a></li>
					<li><a href="cruises.html" title="Cruises">Круизы</a></li>
					<li><a href="car_rentals.html" title="Car rental">Прокат машин</a></li>
					<li><a href="hot_deals.html" title="Hot deals">Горячее предложение</a></li>
					<li><a href="contact.html" title="Contact">Связаться</a></li>
					<li><a href="blog.html" title="Blog">Новости</a>
						<ul>
						</ul>
					</li>
					
				</ul>
			</div>
		</nav>
		<!--//main navigation-->
	</header>
	<!--//header-->