{% extends '../homepage.html' %}
{% load static %}
{% block content %}

	<div class="lightbox" style="display:block;">
		<div class="lb-wrap">
			<a href="#" class="close">x</a>
			<div class="lb-content">
				<form class="row" method="POST">
					{% csrf_token %}
					<h3>Регистрация</h3>
					<div class="f-item full-width">
						<label for="f_name">Имя</label>
						<input type="text" id="ns_name" name="first_name" />
					</div>
					<div class="f-item full-width">
						<label for="f_name">Фамилия</label>
						<input type="text" id="ns_name" name="last_name" />
					</div>
					<div class="f-item full-width">
						<label for="f_name">Имя пользователя</label>
						<input type="text" id="ns_name" name="username" />
					</div>
					<div class="f-item full-width">
						<label for="email">E-mail</label>
						<input type="email" id="email" name="email" />
					</div>
					<div class="f-item full-width">
						<label for="password">Придумайте пароль</label>
						<input type="password" id="password" name="password1" />
					</div>
					<div class="f-item full-width">
						<label for="password">Подвердите пароль</label>
						<input type="password" id="password" name="password2" />
					</div>
					
					<div class="f-item checkbox full-width">
						<button type="submit"  class="gradient-button" >Подвердить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
{% endblock %}